
<div class="table-list">
  <div class="button-container">
    <button color="accent" (click)="fetchCoins()">
      <mat-icon>update</mat-icon>
    </button>
  </div>
  
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
        <h3 style="text-align: center;">Coin Name</h3>
      </th>
      <td mat-cell *matCellDef="let element" [ngStyle]="{ 'color': element.change_24h > 0 ? 'green' : 'red' }">
        {{ element.name }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="navigateToShowCoinDetail(row.id)"></tr>
  </table>
</div>