.mat-mdc-form-field-error {
    font-size: 10px;
    color: red;
    text-align: right;
}

.mdc-text-field--filled .mdc-line-ripple::before{
    border-bottom-width: 0px !important;
}

.label {
    padding-top: 15px;
    padding-bottom: 15px;
}

.cont-card{
    max-width: 80%;
    min-width: 80%;
    margin: 60px auto 0;
    box-shadow: 0 2px 4px rgba(0.1, 0, 0, 0.1); 
}

.mat-card-header {
    background-color: #f0f0f0; 
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; 
    padding: 15px; 
}

.mat-card {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Adicione uma sombra ao redor do card */
}
  