<div class="cont-card">

  <mat-card class="card">

    <mat-card-header style="padding-bottom: 30px;">
      <mat-card-title style="color: blue;">{{tittle}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form>
        <mat-form-field>
          <label>Name</label>
          <input type="text" matInput [formControl]="nameFormControl">
          @if (nameFormControl.hasError('required')) {
            <mat-error>name is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <mat-form-field >
          <label>Description</label>
          <input type="text" matInput [formControl]="descFormControl">
          @if (descFormControl.hasError('required')) {
            <mat-error>description is <strong>required</strong></mat-error>
          }
        </mat-form-field>
      </form>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-button style="color: red;" (click)="this.close()">Cancel</button>
      <button mat-button style="color: green;" (click)="this.onSubmit()">Confirm</button>
    </mat-card-actions>
  </mat-card>
</div>
  